@font-face { 
    font-family: "gogono-cocoa";
    src: url("../Fonts/gogono-cocoa-mochi-cyrillic.otf");
    font-style: normal;
    font-weight: 600;
}
* { 
    font-family: "gogono-cocoa";
}
body { 
    overflow-x: hidden;
    background-color: rgb(83, 189, 255) !important;
}
/* section one */
.hello_block { 
    margin-bottom: 25%;
}
.wrapper-hello_block { 
    color: white;
    display: grid;
    justify-content: center;
    margin-top: 8% !important;
}
.wrapper-hello_block h2{ 
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
} 
.wrapper-hello_block h2 span{ 
    margin-left: -8px;
    color: #ff2828;
} 
.wrapper-hello_block h1{ 
    margin-top: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(12vw, 100px);
    color: #ffa928;
    text-shadow: 3px 0 2px #ffffff, 
                 0 3px 2px #ffffff, 
                -3px 0 2px #ffffff, 
                 0 -3px 2px #ffffff;
    margin-bottom: 0px;
}
.wrapper-image_block img{ 
    max-width: 100%;
}
/* section two */
.cities_block {
    width: 100vw;
    background-color: white;
}
.cities_block div{ 
    margin-top: 15%;
}
.wrapper-cities_block span{ 
    color: #a52a2a;
    margin-left: 20%;
}
.wrapper-cities_block { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(10vw,64px);
    color: rgb(0, 41, 63);
}
.wrapper-cities_block div h3,
.wrapper-cities_block div h3 span { 
    font-size: min(10vw, 58px);
    font-style: oblique;
} 
.wrapper-cities_block div h3 span{ 
    margin-left: -14px;
    color: #a67857;
}
#eatSpan { 
    color: rgb(255, 169, 40);;
}
.carousel { 
    width: 100%;
    height: auto;
}
.carousel-inner img { 
    max-width: 100%;
    height: auto;
}
#carouselExampleInterval { 
    margin-top: 0px !important;
}
.carousel-inner { 
    margin-top: 0px !important;
}